{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>

<head>
  <meta charset="utf-8">
  <title>SRIP</title>
</head>

<body>
  <center>
    <div class="container-fluid" style="background-color: darkblue; padding: 20px;">
      <h2 style="color:whitesmoke"> SRIP STUDENTS PORTAL </h2>
    </div>
    {% if user.is_authenticated %}
    <div class="container-fluid" style="background-color: wheat; padding: 10px;">
      <h4 style="color: black;"><i>Hi {{ user.username }}!</i></h4>
    </div>
    <br>
    <br>
    <a href="/users/{{ user.username }}/"><button class="btn-primary btn-lg">View Performance</button></a>
    <br>
    <br>
    <a href="portalapp/logissue/"><button class="btn-primary btn-lg">Log an Issue</button></a>
    </br>
    </br>
    <a href="{% url 'logout' %}"><button class="btn-primary btn-sm">Logout</button></a>
    {% else %}
    <div class="container-fluid" style="background-color: wheat; padding: 10px;">
      <p style="color: black;">You are not logged in</p>
      <br>
      <a href="{% url 'login' %}"><button class="btn-primary btn-sm">Login</button></a>
    </div>
    {% endif %}
  </center>
</body>

</html>