{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>

<head>
    <meta charset="utf-8">
    <title>Points</title>
</head>

<body>
    <center>
        <div class="container-fluid" style="background-color: darkblue; padding: 10px;">
            <h3 style="color:whitesmoke">Your function point average is {{ info.function_points }} out of 100</h3>
            <h3 style="color:whitesmoke">Your equivalent effort in hours is {{ info.effort }} out of 240 </h3>
            <h4 style="color:whitesmoke">Weekly Report Link : <a style="color: lime" href= {{ info.report }}> {{ info.report }} </a></h4>
            <h4 style="color:whitesmoke">Mentor : <p style="color: lime; display:inline;"> {{ info.mentor }} </p>  </h4>
            <h4 style="color:whitesmoke">Github Handle : <p style="color: lime ; display:inline;"> {{ info.handle }}</p> </h4>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr class="info">
                    <th>Commit Id</th>
                    <th>Url</th>
                    <th>Points</th>
                    <th>Evaluated</th>
                </tr>
                {% for i in issue_info %}
                <tr>
                    <td> {{ i.commit_id }} </td>
                    <td> {{ i.url }} </td>
                    <td> {{ i.issue_points }} </td>
                    {% if i.is_added %}
                    <td>Yes</td>
                    {% else %}
                    <td>No</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </center>
    <br>
    <footer>
        <div class="container-fluid">
            <p>
                <center>Copyright 2019 ©<b> SRIP</b>. All rights reserved.</center>
            </p>
        </div>
    </footer>

</body>

</html>